{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container" style="height: 500px; overflow-y: auto">
        <table class="table">
            {% for i in view.conversacion %}
                {% if i.usuario != 'bot' %}
                    <tr>
                        <td style="color:red">{{ i.id }}:{{ i.texto }} </td>
                    </tr>
                {% endif %}
                {% if i.usuario == 'bot1' %}
                    <tr style="text-align: right; color:red">
                        <td>
                            <pre>Intención {{ i.intencion }}</pre>
                            <pre>
                               {% for entidad in i.entidades %}
                                    {{ entidad.entity }}:{{ entidad.value }}
                               {% endfor %}
                            </pre>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
{% endblock %}